body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}


#app {
  background: #F2784B;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 46px;
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}
